body{
  text-align: center;

  #myButton{
    padding: 30px;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: black;
    background-color: gray;
    transition
    &:hover{
      color: gray;
      background-color: black;
    }
    
  }
}